@charset "ISO-8859-1";


body {
    padding-top: 50px; 
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #cc0000;
    color: white;
    z-index: 100;
    position: fixed;
    width: 100%; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 18px;
}

.sub-text {
    font-size: 14px;
}

.card {
  position: relative;
  width: 350px;
  height: auto;
  margin: 30px auto;
  border-radius: 10px;
}

.card-header {
  position: relative;
  height: 250px;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  border: none;
  overflow: hidden;
}

.card-body {
  text-align: center;
  padding: 10px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.job-title {
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  color: #919191;
}

.bio {
  font-size: 14px;
  color: #7B7B7B;
  font-weight: 300;
  margin: 10px auto;
  line-height: 20px;
}

.card-footer {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%; 
  padding: 10px;
}

.stat {
  box-sizing: border-box;
  width: calc(100% / 2);
  float: left;
  text-align: center;
}

.stat:nth-child(2) {
  border-left: 1px solid grey;
}


.stat .label {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #95989A;
}

.stat .value {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  padding: 5px; 
}