<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Collection</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar static-top navbar-dark" style="background-color: #cc0000;">
            <div class="container-fluid">
                <div class="logo-container">
                    <img th:src="@{/img/unc-logo.png}" alt="Logo" class="logo">
                    <div class="text-container">
                        <span class="main-text">Library Management System</span>
                        <span class="sub-text">University of Nueva Caceres</span>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-transparent position-relative" style="border: none;">
                        <span class="bi bi-bell text-white" style="font-size: 1.5rem;"></span>
                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel" style="background-color: #cc0000;">

                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/user/home}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/book/collection}">Profile Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/book/collection}">Book Collection</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/book/collection}">Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </nav>
    </header>

    <main style="min-height: 100vh;">
	    <div class="container mt-5" style="flex-grow: 1;">
	        <div class="d-flex justify-content-between align-items-center">
	            <h1 class="mb-4">Book Collection</h1>
	
	            <!-- Search Bar on the Right Side -->
	            <form class="d-flex" th:action="@{/book/collection}" method="get">
	                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
	                    style="width:300px;" name="search">
	                <button class="btn btn-outline-success" type="submit">Search</button>
	            </form>
	        </div>
	
	        <div class="d-flex flex-column" style="overflow-y: auto;">
	            <!-- Table with Scrollbar -->
	            <table class="table table-striped table-hover">
	                <thead>
	                    <tr>
	                        <th scope="col">#</th>
	                        <th scope="col">Book Title</th>
	                        <th scope="col">Author</th>
	                        <th scope="col">Genre</th>
	                        <th scope="col">Year Published</th>
	                        <th scope="col">Action</th>
	                    </tr>
	                </thead>
	
	                <tbody>
	                    <tr th:each="book, stat : ${books}">
	                        <td th:text="${book.id}"></td>
	                        <td th:text="${book.title}"></td>
	                        <td th:text="${book.author}"></td>
	                        <td th:text="${book.genre}"></td>
	                        <td th:text="${book.yearPublished}"></td>
	                        <td>
	                        	<!-- Edit Button -->
	                            <a th:href="@{/book/edit/{id}(id=${book.id})}" class="btn btn-primary btn-sm">Edit</a>
	                            <!-- Delete Button -->
    							<a th:href="'#'" class="btn btn-danger btn-sm" th:onclick="'showDeleteConfirmationModal(' + ${book.id} + ');'">Delete</a>
	                        </td>
	                        
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        <!-- Add New Book Button -->
	        <div class="mt-3">
	            <a th:href="@{/book/add}" class="btn btn-primary">Add New Book</a>
	        </div>
	    </div>
	</main>
    <!-- Example in your BookCollection.html -->
	<!-- Modal for Confirmation -->
	<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                Are you sure you want to delete this book?
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
	                <button id="confirmDeleteBtn" class="btn btn-danger btn-sm">Delete</button>

	            </div>
	        </div>
	    </div>
	</div>

    <footer class="" style="background-color: #3D3D3D;">
        <div class="container d-flex flex-column">
            <div class="row">
                <!-- Left Section - Logo and Name -->
                <div class="col-lg-4 text-left d-flex justify-content-center align-items-center">
                    <div class="d-flex align-items-center">
                        <img th:src="@{/img/unc-logo.png}" alt="Logo" width="75" height="75">
                        <div class="ml-3 text-center">
                            <p class="mb-0 text-white">UNIVERSITY OF</p>
                            <p class="mb-0 text-white">NUEVA CACERES</p>
                        </div>
                    </div>
                </div>

                <!-- Middle Section - Address -->
                <div class="col-lg-4 text-center d-flex align-items-center justify-content-center">
                    <div class="pt-3" style="font-size: 15px; line-height: 0.1;">
                        <p class="text-white">J. Hernandez Avenue, Naga City 4404</p>
                        <p class="text-white">095611301775 | 09071566898</p>
                        <p><a href="" class="text-white">info@unc.edu.ph</a></p>
                        <p><a href="" class="text-white">admission@unc.edu.ph</a></p>
                    </div>
                </div>

                <!-- Right Section - Social Media Links -->
                <div class="col-lg-4 text-right d-flex align-items-center justify-content-center">
                    <div class="pt-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Facebook</a></li>
                            <li><a href="#" class="text-white">Twitter</a></li>
                            <li><a href="#" class="text-white">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center text-white" style="background-color: #919191; width: 100%;">
            <span>Copyright © 2023. University of Nueva Caceres. All Rights Reserved.</span>
        </div>
    </footer>
    
    
    <script>
	    function showDeleteConfirmationModal(bookId) {
	        // Set the book ID in the modal's delete button href
	        document.getElementById('confirmDeleteBtn').onclick = function() {
	            window.location.href = '/book/delete/' + bookId;
	        };
	
	        // Show the modal
	        $('#deleteConfirmationModal').modal('show');
	    }
	</script>

</body>

</html>
