@charset "ISO-8859-1";

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #cc0000;
    color: white;
    z-index: 100;
    position: fixed;
    width: 100%; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 18px;
}

.sub-text {
    font-size: 14px;
}

/* Form styles */
.title {
    text-align: center;
    margin-top: 5rem;
}

.form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

form {
    display: flex;
    flex-direction: column;
        padding-bottom: 3rem; 
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input,
select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #cc0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #990000;
}

/* Footer styles */
footer {
    background-color: #3D3D3D;
    color: #fff;
    padding: 20px 0;
    border-top: 1px solid #555;
}


/* Copyright bar styles */
.copyright {
    background-color: #cc0000;
    font-size: 10px;
    padding: 5px 0;
    color: #fff;
}

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 


